spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: auth-service-register
              uri: http://localhost:8082
              predicates:
                - Path=/api/v1/auth/register
                - Method=POST
              filters:
                - RewritePath=/api/v1/auth/(?<segment>.*), /api/v1/auth/$\{segment}

            - id: auth-service-login
              uri: http://localhost:8082
              predicates:
                - Path=/api/v1/auth/login
                - Method=POST
              filters:
                - RewritePath=/api/v1/auth/(?<segment>.*), /api/v1/auth/$\{segment}

            - id: auth-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/v1/auth/**
              filters:
                - RewritePath=/api/v1/auth/(?<segment>.*), /api/v1/auth/$\{segment}

            # User Service Routes
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/api/v1/users/**,/api/v1/cards/**

            # Order Service Routes
            - id: order-service
              uri: http://localhost:8083
              predicates:
                - Path=/api/v1/orders/**,/api/v1/items/**

            # Payment Service Routes
            - id: payment-service
              uri: http://localhost:8084
              predicates:
                - Path=/api/v1/payments/**

          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "*"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - PATCH
                  - DELETE
                  - OPTIONS
                allowedHeaders: "*"
                exposedHeaders:
                  - Authorization

jwt:
  secret: ${JWT_SECRET:your-secret-key-minimum-256-bits-for-hs512-algorithm}

services:
  auth:
    url: http://localhost:8082
  user:
    url: http://localhost:8081
  service-key: dev-service-key

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    root: INFO
    com.innowise.api-gateway: DEBUG
    org.springframework.cloud.gateway: DEBUG
    org.springframework.web.reactive: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
  endpoint:
    health:
      show-details: always